{% extends 'auth_base.html' %}
{% load static %}
{% block title %} Sign-In {% endblock %} 
{% block content %}
{% load crispy_forms_tags %}
<div class="card-header">
  <br />
  <div class="text-center">
    <img
      src="{% static 'assets/img/npdlogo.png' %}"
      class="rounded"
      witdth="60"
      height="60"
    />
  </div>
  <h5 class="text-center font-weight-light my-4">
    Traffic Count Servey System
  </h5>
</div>

<div class="card-body">
  <form method="post">
    {% csrf_token %} 
    {{ form|crispy }}

    <div class="form-check mb-3">
      <input
        class="form-check-input"
        id="inputRememberPassword"
        type="checkbox"
        value=""/>
      <label class="form-check-label" for="inputRememberPassword"
        >Remember Password</label
      >
    </div>
    <div class="d-flex align-items-center justify-content-between mt-2 mb-0">
      <a class="small" href="#">Forgot Password?</a>
      <button
        type="submit"
        class="btn btn-block btn-primary btn-lg font-weight-small auth-form-btn"
        style="" >
        LOGIN
      </button>
    </div>
  </form>
</div>
<div class="card-footer text-center py-3">
  <div class="small"><a href="{% url 'signup'%}">Register!</a></div>
</div>

{%endblock%}
