{% extends 'auth_base.html' %}
{% load static %}
{% block title %} Registration - NPD TCSS{% endblock %} 
{% block content %}
{% load crispy_forms_tags %}

<div class="card-header">
    <div class="text-center">
        <img
          src="{% static 'assets/img/npdlogo.png' %}"
          class="rounded"
          witdth="60"
          height="60"
        />
      </div>
    <h5 class="text-center font-weight-light my-4">Registration!</h5>
</div>
<div class="card-body">
    <form method="post">
        {% csrf_token %} 
        {{ form|crispy }}
        <div class="mt-4 mb-0">
            <div class="d-grid">
                <button
        type="submit"
        class="btn btn-block btn-primary btn-lg font-weight-small auth-form-btn"
        style="" >
        Register
      </button>
            </div>
        </div>
    </form>
</div>
<div class="card-footer text-center py-3">
    <div class="small"><a href="{% url 'login'%}">Back to sign in!</a></div>
  </div>                              
{%endblock%}