{% extends 'base_page.html' %}
{% load static %}
{% block title %} Dashboard{% endblock %} 
{% block content %}
{% load crispy_forms_tags %}
<main>
  <div class="container-fluid px-4">
     
      <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">Dashboard/</li>
      </ol>
      <div class="row">
          <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Traffic</h5><br>
                      <center>
                        {%if total_traffic %}
                        <span class="h4 font-weight-normal mb-0">{{total_traffic.counts}}</span>
                        {%else%}
                      <span class="h4 font-weight-bold mb-0">0</span>
                      {%endif%}
                      </center>
                      
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                   
                    <span class="text-nowrap">Today:</span>
                    <span class="text-primary mr-2">{{daily_traffic.daily}} </span>
                    
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Collectors</h5>
                      <br>
                      <center>
                        {% if traffic_collector_list %}
                      <span class="h4 font-weight-bold mb-0">{{traffic_collector_list}}</span>
                        {%else%}
                      <span class="h4 font-weight-bold mb-0">0</span>
                      {%endif%}
                    </center>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-danger mr-2"></i></span>
                    <span class="text-nowrap">traffic counters</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">ADT</h5><br>
                      <center><span class="h4 font-weight-bold mb-0 text-center">{% widthratio total_traffic.counts 4 1 %}</span></center>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                   
                    <span class="text-nowrap">Since first day</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Top Counted</h5><br>
                      <center>
                        {% if top_vehicle_counted %}
                        <span class="h4 font-weight-bold mb-0">{{top_vehicle_counted}}</span>
                        {%else%}
                        <span class="h4 font-weight-bold mb-0">0</span>
                        {%endif%}
                      </center>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i></span>
                          {% for high in high_counting_vehicles %}
                    <span class="text-nowrap text-primary ">{{high.vehicle.vehicle_category}}</span>

                           {%endfor%}
                  </p>
                </div>
              </div>
            </div>
      </div>
      <br>
  
      <div class="card mb-4">
          <div class="card-header">
              <i class="fas fa-table me-1"></i>
            Daily Traffic Counting Summary
          </div>
          <div class="card-body table-responsive">
              <table id="datatablesSimple" width="1000" class="text-center">
                  <thead>
                      <tr>
                          <th>Vehicle-Category</th>
                          <th>Vehicle-Counts</th>
                          <th>Collectors</th>
                          <th>Spot Name</th>
                          <th>Collected date</th>
                          
                      </tr>
                  </thead>
  
                  <tbody>
                    {% if daily_counting %}
                  {% for counting in daily_counting%}
                  <tr height="70px">
                      <td>{{counting.vehicle.vehicle_category}}</td>
                      <td>{{counting.Traffic_countings}}</td>
                      <td>{{counting.collector.first_name}}</td>
                      <td>{{counting.collector.spot.Spot_name}}</td>
                      <td>{{counting.updated}}</td>-
                  </tr>
              {%endfor%}

              {% else %}
              <tr>
                <td colspan="5">
                 <center> Today there is no traffic counted yet</center>
                </td>
             </tr>
               {% endif %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</main>

{%endblock%}